@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/pattern-background-desktop.svg");
    background-position: center;
    background-repeat: repeat-x;
    line-height: 1.5;
}
/*layout*/

.summary-card{
    margin-top: 3rem;
    width: 350px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 1rem;
}

.plan-details ,
.plan-info{
    display: flex;
    justify-content: space-evenly;
}


/*bg*/
.card-upper-bg{
    border-radius: 1rem;
    width: 350px;
    height: 200px;
    background-image: url("images/illustration-hero.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.audio-icon{
    width: 60px;
    height: 60px;
    background-image: url("images/icon-music.svg");
    background-repeat: no-repeat;
    background-position: center;
}
/*typo*/
.card-content{
    margin-top: 1.5rem;
    width: 350px;
    text-align: center;
}

.card-content > h1,
.plan-info {
    color: hsl(223, 47%, 23%);
    font-size: 24px;
}

.card-content > p{
    color: hsl(224, 23%, 55%);
}


.plan-info{
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: rgb(241, 241, 241);
    border-radius: 0.5rem;
    width: 250px;
    height: 70px;
}

.plan-change-link{
    color: hsl(245, 75%, 52%);
    margin-top: 3rem;
}

.plan-change-link:hover{
    color:hsl(245, 84%, 59%);
}

.card-buttons  button{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 250px;
    height: 45px;
    border: none;
}


.button-dark{
    background-color: hsl(245, 75%, 52%);
    color: #fafafa;
    border-radius: 0.4rem;
}

.button-dark:hover{
    background-color:hsl(245, 84%, 59%);
}

.button-light{
    background-color: #fafafa;
    color:  hsl(224, 23%, 55%);
}

.button-light:hover{
    color: hsl(230, 17%, 14%);
}